*{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-wrapper{
    width: 100%;
    background-color: orange;
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
}

.todo-form {
    margin: auto;
    display: flex;
    align-items: center;
    margin: 20px
}

.todo-input,
.todo-btn {
    padding: 0.3rem 0.2rem;
    margin-bottom: 2rem;
    padding: 10px 10px;
    font-size: 1rem;
    border: 0.5px solid black;
    margin: 1px;

    /* box-shadow: ; */
}

.todo-input {
    /* width: 300px; */
    background-color: rgb(245, 193, 96);
    color: black;
}

.todo-btn {
    background-color: black;
    color: orange;
    font-weight: 700;
    width: 7rem;
}

.todo {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.3rem;
    background-color: rgb(14, 14, 13);
    border-radius: 20px;
    color: white;
    font-size: 18px;
}

.completed {
    text-decoration: line-through;
    color: gray;
  }
  

@media screen and (min-width:700px){
    .todo-wrapper{
        max-width: 400px
    }

    .todo-input{
        width:250px
    }
}